USE [master]
GO
/****** Object:  Database [Polizia]    Script Date: 28/02/2025 15:06:04 ******/
CREATE DATABASE [Polizia]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Polizia', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Polizia.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Polizia_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Polizia_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Polizia].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Polizia]
GO
/****** Object:  Table [dbo].[ANAGRAFICA]    Script Date: 28/02/2025 15:06:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANAGRAFICA](
	[idanagrafica] [int] NOT NULL,
	[Cognome] [varchar](50) NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[Indirizzo] [varchar](100) NOT NULL,
	[Città] [varchar](50) NOT NULL,
	[CAP] [varchar](10) NOT NULL,
	[Cod_Fisc] [varchar](16) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idanagrafica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_VIOLAZIONE]    Script Date: 28/02/2025 15:06:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_VIOLAZIONE](
	[idviolazione] [int] NOT NULL,
	[descrizione] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idviolazione] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VERBALE]    Script Date: 28/02/2025 15:06:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VERBALE](
	[idverbale] [int] NOT NULL,
	[idanagrafica] [int] NOT NULL,
	[idviolazione] [int] NOT NULL,
	[DataViolazione] [date] NOT NULL,
	[IndirizzoViolazione] [varchar](100) NOT NULL,
	[Nominativo_Agente] [varchar](50) NOT NULL,
	[DataTrascrizioneVerbale] [date] NOT NULL,
	[Importo] [decimal](10, 2) NOT NULL,
	[DecurtamentoPunti] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idverbale] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VERBALE]  WITH CHECK ADD  CONSTRAINT [FK_VERBALE_ANAGRAFICA] FOREIGN KEY([idanagrafica])
REFERENCES [dbo].[ANAGRAFICA] ([idanagrafica])
GO
ALTER TABLE [dbo].[VERBALE] CHECK CONSTRAINT [FK_VERBALE_ANAGRAFICA]
GO
ALTER TABLE [dbo].[VERBALE]  WITH CHECK ADD  CONSTRAINT [FK_VERBALE_TIPO_VIOLAZIONE] FOREIGN KEY([idviolazione])
REFERENCES [dbo].[TIPO_VIOLAZIONE] ([idviolazione])
GO
ALTER TABLE [dbo].[VERBALE] CHECK CONSTRAINT [FK_VERBALE_TIPO_VIOLAZIONE]
GO
USE [master]
GO
